<h2>Test</h2><br>
<div ng-app="", ng-init="myCol1='lightblue'">
  <p>First Name : <input style="background-color:{{myCol1}}" type="text" ng-model="name"></p>
  Hello {{name}}
</div>

<br><br>
<div ng-app="", ng-init="myCol2='lightblue'">
  <p>Last Name : <input style="background-color:{{myCol2}}" type="text" ng-model="name2"></p>
  Hello {{name}} <span ng-bind="name2"></span><br>
  Hi <span ng-bind="name + ' ' + name2"></span>
</div>

<br><br>
<div ng-app="" ng-init="name3='Customer'; myCol3='lightblue'">
  <p>Name [init] <input style="background-color:{{myCol3}}" type="text" ng-model="name3"></p>
  Hello <span ng-bind="name3"></span>
</div>




<br><br>
<div ng-app="" ng-init="names=['Jani','Hege','Kai']">
  <ul>
    <li ng-repeat="x in names">
      {{ x }}
    </li>
  </ul>
</div>

<br><br>
 <div ng-app="" ng-init="names2=[
{name:'Jani',country:'Norway'},
{name:'Hege',country:'Sweden'},
{name:'Kai',country:'Denmark'}]">

<ul>
  <li ng-repeat="x in names2">
    {{ x.name + ', ' + x.country }}
  </li>
</ul>

</div> 




